<!DOCTYPE html>
<html lang="en">
<head>
  <title>Volcan Cotopaxi</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="public/stylesheets/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css" media="all">
  <script type="text/javascript" src="public/javascripts/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="public/javascripts/cufon-yui.js"></script>
  <script type="text/javascript" src="public/javascripts/Humanst521_BT_400.font.js"></script>
  <script type="text/javascript" src="public/javascripts/Humanst521_Lt_BT_400.font.js"></script>
	<script type="text/javascript" src="public/javascripts/roundabout.js"></script>
  <script type="text/javascript" src="public/javascripts/roundabout_shapes.js"></script>
  <script type="text/javascript" src="public/javascripts/gallery_init.js"></script>
  <script type="text/javascript" src="public/javascripts/cufon-replace.js"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/IE9.js"></script>
  <![endif]-->
</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="@{Application.index()}">Volcan Cotopaxi</a></h1>
      <nav>
        <ul>
        	<li><a href="@{Application.index()}" class="current">Inicio</a></li>
          <li><a href="@{Estaticas.vision()}">Usuario</a><li>
          <li><a href="@{Estaticas.vivienda()}">Vivienda</a></li>
          <li><a href="@{Estaticas.donaciones()}">Donacion</a></li>
          <li><a href="sitemap.html">Albergues</a></li>
        </ul>
      </nav>
    </div>
	</header>
  <!-- #gallery -->
  <section id="gallery">
  	<div class="container">
    	<ul id="myRoundabout">
      	<li><img src="public/images/b.jpg" alt=""></li>
        <li><img src="public/images/c.jpg" alt=""></li>
        <li><img src="public/images/d.jpg" alt=""></li>
        <li><img src="public/images/e.jpg" alt=""></li>
        <li><img src="public/images/f.jpg" alt=""></li>
      </ul>
  	</div>
  </section>
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>Noticias <span>Recientes</span></h2>
            <!-- .news -->
            <ul class="news">
            	<li>
              	<figure><strong>08</strong>Diciembre</figure>
                <h3><a href="http://www.ecuadorinmediato.com/index.php?module=Noticias&func=news_user_view&id=2818792813">Boletin 201</a></h3>
                El volcán Cotopaxi mantiene la actividad interna moderada y la superficial baja, IGPN. <a href="http://www.ecuadorinmediato.com/index.php?module=Noticias&func=news_user_view&id=2818792813">...</a>
              </li>
              <li>
              	<figure><strong>04</strong>Diciembre</figure>
                <h3><a href="http://www.ecuadorinmediato.com/index.php?module=Noticias&func=news_user_view&id=2818792655">Boletin 198</a></h3>
                 El volcán Cotopaxi continúa con un nivel de actividad interna moderada y superficial baja<a href="#">...</a>
              </li>
              <li>
              	<figure><strong>27</strong>Noviembre</figure>
                <h3><a href="http://www.eluniverso.com/noticias/2015/11/27/nota/5264895/volcan-cotopaxi-motivo-simulacro-pichincha-cotopaxi-napo">El volcán Cotopaxi motivó simulacro</a></h3>
                Cientos de estudiantes se movilizaron desde sus colegios hacia zonas seguras. <a href="http://www.eluniverso.com/noticias/2015/11/27/nota/5264895/volcan-cotopaxi-motivo-simulacro-pichincha-cotopaxi-napo">...</a>
              </li>
              <li>
              	<figure><strong>24</strong>Noviembre</figure>
                <h3><a href="http://www.eluniverso.com/noticias/2015/11/24/nota/5259225/simulacro-tres-zonas-volcan-cotopaxi">Simulacro en tres zonas </a></h3>
                Un simulacro masivo se realizó ayer en seis sectores de Pichincha <a href="http://www.eluniverso.com/noticias/2015/11/24/nota/5259225/simulacro-tres-zonas-volcan-cotopaxi">...</a>
              </li>
            </ul>
            <!-- /.news -->
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>Bienvenidos a <span>nuestro sitio web</span></h2>
              <p>En Pichincha, Cotopaxi y Napo, provincias de influencia del volcán Cotopaxi, ya se han hecho simulacros de evacuación.</p>
              <figure><a href="#"><img src="public/images/g.jpg" alt=""></a></figure>
              <p>Para mayor información sobre el proceso eruptivo del volcán Cotopaxi, recomendaciones y medidas de autoprotección ingrese a <a href="www.volcancotopaxi.com">www.volcancotopaxi.com</a>, <a href=" www.seguridad.gob.ec"> www.seguridad.gob.ec</a>, <a href="http://www.igepn.edu.ec.">http://www.igepn.edu.ec</a>.</p>
              En la última erupción del volcán, Theodore Wolf y Sodiro relataron que en la erupción de 1877 la precipitación de ceniza fue tan intensa que provocó varias horas de oscuridad.  Este fenómeno podría repetirse solo en caso de tener una emisión muy alta de ceniza.
            </article> 
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">Copyright - Volcan Cotopaxi</div>
        <div class="fright"><a rel="nofollow" href="http://www.utc.edu.ec/" target="_blank">Universidad Tecnica de Cotopaxi</a> Alma Mater&nbsp; &nbsp; |&nbsp; &nbsp; Ing Informatica y Sistemas--Desarrollo Web</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
